<ul class="nav nav-sidebar">
  <li class="<%= 'active' if current_page?('/') %>">
    <%= link_to 'Overview', root_path %>
  </li>
  <li class="<%= 'active' if current_page?('/getting-started') %>">
    <%= link_to 'Getting Started', getting_started_path %>
  </li>
  <li class="<%= 'active' if current_page?('/html-css-js') %>">
    <%= link_to 'HTML / CSS / JS', html_css_js_path %>
  </li>
  <li class="<%= 'active' if current_page?('/front-end-in-rails') %>">
    <%= link_to 'Front End in Rails', front_end_in_rails_path %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>HTML</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/html-document-structure') %>">
    <%= link_to 'HTML Document Structure', html_document_structure_path %>
  </li>
  <li class="<%= 'active' if current_page?('/html5') %>">
    <%= link_to 'HTML5', html5_path %>
  </li>
  <li class="<%= 'active' if current_page?('/layouts-and-rendering') %>">
    <%= link_to 'Rails Layouts & Rendering', layouts_and_rendering_path %>
  </li>
  <li class="<%= 'active' if current_page?('/rails-templates-helper-methods') %>">
    <%= link_to 'Rails Templates & Helper methods', rails_templates_helper_methods_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>CSS</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/css-definition-examples') %>">
    <%= link_to 'Definition & Examples', css_definition_examples_path %>
  </li>
  <li class="<%= 'active' if current_page?('/css-frameworks') %>">
    <%= link_to 'CSS Frameworks', css_frameworks_path %>
  </li>
  <li class="<%= 'active' if current_page?('/grid-system') %>">
    <%= link_to 'Grid System', grid_system_path %>
  </li>
  <li class="<%= 'active' if current_page?('/css3') %>">
    <%= link_to 'CSS3', css3_path %>
  </li>
  <li class="<%= 'active' if current_page?('/css-techniques') %>">
    <%= link_to 'CSS Techniques', css_techniques_path %>
  </li>
  <li class="<%= 'active' if current_page?('/scss') %>">
    <%= link_to 'SASS & SCSS', scss_path %>
  </li>
  <li class="<%= 'active' if current_page?('/smacss') %>">
    <%= link_to 'SMACSS', smacss_path %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class='disabled'>
    <a href="#" ><h4>Javascript</h4></a>
  </li>
  <li class="<%= 'active' if current_page?('/dom-manipulation') %>">
    <%= link_to 'DOM Manipulation', dom_manipulation_path %>
  </li>
  <li class="<%= 'active' if current_page?('/js-libraries') %>">
    <%= link_to 'JS Libraries', js_libraries_path %>
  </li>
  <li class="<%= 'active' if current_page?('/jquery-tutorial') %>">
    <%= link_to 'jQuery Tutorial', jquery_tutorial_path %>
  </li>
  <li class="<%= 'active' if current_page?('/layout-and-rendering') %>">
    <%= link_to 'Adding plugins to Rails', root_url %>
  </li>
  <li class="<%= 'active' if current_page?('/turbolinks') %>">
    <%= link_to 'Turbolinks', turbolinks_path %>
  </li>
  <li class="<%= 'active' if current_page?('/layout-and-rendering') %>">
    <%= link_to 'Coffeescript', root_url %>
  </li>
  <li class="<%= 'active' if current_page?('/layout-and-rendering') %>">
    <%= link_to "What's the weather like?", root_url %>
  </li>
</ul>

<ul class="nav nav-sidebar">
  <li class="<%= 'active' if current_page?('/next-steps') %>">
    <%= link_to 'Next Steps', next_steps_path %>
  </li>
</ul>